* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri";
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

@keyframes rainbow {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 200%;
  }

  100% {
    background-position: 0% 100%;
  }
}

#rainbow-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  z-index: 9999999999999;
  height: 4px;

  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 900% 900%;

  animation: rainbow 9s ease infinite;
}

a {
  color: #000;
}

.light-theme {
  background-color: #ffffff;
  color: #333333;
}

.light-theme a {
  color: #000;
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.dark-theme a {
  color: #fff;
}

.dark-theme i {
  color: #fff;
}

.dark-theme #line1 a i {
  color: #fff;
}

.dark-theme #line1 i {
  color: #fff;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme-toggle label {
  margin-right: 10px;
}

.theme-toggle label::after {
  content: "light mode";
  display: none;
}

/* Toggle Switch Styles */
.theme-toggle input {
  display: none;
}

.theme-toggle label {
  cursor: pointer;
}

.theme-toggle label:before {
  content: "☀️";
  /* Sun Emoji */
  font-size: 1.5em;
}

.theme-toggle input:checked + label::after {
  content: "🌙";
  /* Moon Emoji */
  font-size: 1.5rem;
}

/* ----------------------------------------------- */

#main {
  position: relative;
  min-height: 100vh;
  width: calc(100vw-70px);
  margin-left: 70px;
  /* background-color: darkgray; */
}

#logoo {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

#up-arrow {
  scale: 3;
  top: 90%;
  left: 90%;
  position: fixed;
  /* z-index: 999999999; */
}

#up-arrow a {
  /* color: transparent; */
  text-decoration: none;
  color: white;
  /* background-color: #333333; */
}

#up-arrow a i {
  /* background-color: #333333; */
  /* color:linear-gradient(90deg, rgba(255,157,6,1) 0%, rgba(255,9,0,1) 34%, rgba(0,55,255,1)); */
  background: rgb(255, 28, 28);
  background: linear-gradient(
    124deg,
    rgba(255, 28, 28, 1) 0%,
    rgba(110, 31, 255, 1) 100%
  );
  border-radius: 50%;
  /* color: */
}

#feed-area {
  width: 70%;
  min-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;
  /* background-color: burlywood; */
}

#feed-card {
  position: relative;
  width: 35vw;
  min-height: 20vw;

  /* border: 1px solid #000; */
  margin: 5px;
  filter: drop-shadow(0px 0px 20px 2px rgb(189, 13, 13));

  transition: all ease 0.3s;
}

#feed-card:nth-last-child(1) {
  margin-bottom: 100px;

  /* background-color: #1de840; */
}

#feed-card img {
  max-height: 100vh;
  object-position: center;
  object-fit: contain;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 25px 2px black);
}

#feed-card video {
  max-height: 95vh;
  width: 35vw;
  object-position: center;
  background-color: currentColor;
  object-fit: contain;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px 25px black);

  /* filter: drop-shadow(0px 0px 25px 2px black); */
}

#nav {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* font-weight: 200; */
  /* background-color: cornflowerblue; */
}

#nav > a > img {
  border-radius: 50%;
  object-fit: cover;
}

#nav a h2 {
  font-weight: 600;
  font-size: 1.5vw;
}

#mini {
  height: 4vw;
  width: 4vw;
  /* zoom: 5; */
  overflow: hidden;
  background-position: center;
  /* background-image: url(../uploads/1701113791404-607074134.jpg); */

  object-fit: fill;
  /* object-fit: contain; */
  object-position: center;

  border-radius: 50%;
  padding: 2px;
  /* border: 1px solid blue; */
}

#open-more-options {
  right: 3%;
  top: 0;
  scale: 1.7;
  margin-top: 15px;
  padding: 2px;
  /* background-color: chocolate; */
  position: absolute;
  cursor: pointer;
}

#open-more-options:hover .more-option {
  scale: 1;
}

.more-option {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 1%;
  background-color: rgba(195, 189, 189, 0.771);
  top: 8%;
  padding: 10px;
  height: 80px;
  z-index: 9999999;
  scale: 0;
  transition: all linear 0.1s;
}

.more-option h4 {
  cursor: grab;
  color: #000;
}

#feed-img {
  width: 100%;
}

#line1 {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 20px;
  padding: 3px 10px;
}

#line1 a:nth-child(4) {
  margin-left: 170px;
}

#line1 a {
  /* color: #000; */
  text-decoration: none;
  padding: 2px 5px;
  display: flex;
  align-items: end;
  justify-content: center;

  font-size: 2vw;
}

#line1 i {
  color: #000;
  text-decoration: none;
  padding: 2px 5px;
  display: flex;
  align-items: end;
  justify-content: center;

  font-size: 2vw;
  cursor: pointer;
}

#line2 {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 20px;
  padding: 3px 10px;
  /* background-color: coral; */
}

#line2 h3 {
  font-size: 1.3vw;
}

#line2 h3:nth-child(2) {
  font-weight: 500;
}

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  /* margin-top: -10px; */
  /* background-color: chocolate; */
  /* background-color: cornflowerblue; */
}

.comment h4 {
  color: rgba(9, 9, 9, 0.497);
  /* background-color: crimson; */
}

.comment input {
  width: 50%;
  /* border: none; */
  outline: none;
  padding: 5px 20px;
  display: none;
  border-radius: 10px;
  /* background-color: #000; */
}

.comment-data {
  /* background-color: chocolate; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  width: 100%;
  position: relative;
  margin-bottom: 2px;
}

.comment-data h4 {
  font-size: 15px;
}

.comment-data h3 {
  font-size: 18px;
}

.comment-data small {
  font-size: 12px;
  font-family: gilroy;
  font-weight: 500;
}

#nonnn {
  display: none;
}

#nonnn:nth-child(1) {
  /* position: relative; */
  position: absolute;
  margin-top: 20px;
  /* top: 90%; */
  bottom: 5px;
  display: block;
}

#time-posted {
  width: 150px;
  overflow: hidden;
  height: 15px;
  color: #979797;
  margin-bottom: 50px;
}

#sugges {
  position: absolute;
  /* left: 50%; */
  /* top: 10vh; */
  right: 0;
  height: 70vh;
  width: 35vw;
  /* background-color: #1de840; */
  padding: 10px 30px;
  overflow-y: auto;
}

.user-card {
  display: flex;
  align-items: center;
  /* justify-content: ; */
  height: fit-content;
  width: 100%;
  background-color: rgba(229, 229, 229, 0.373);
  /* backdrop-filter: blur(10px); */
  margin-top: 2px;
  border-radius: 7px;
  padding: 10px 5px;
  position: relative;
  flex-shrink: 0;
  /* margin-bottom: 10px; */
}

.kaka {
  display: flex;
  align-items: center;
  /* justify-content: ; */
  height: fit-content;
  background-color: transparent;
  width: 100%;
  position: relative;
}

.user-card img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid blue;
  padding: 2px;
}

.user-card h2 {
  text-decoration: none;
  color: #fff;
  background-color: #1877f2;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  font-size: 13px;
  /* margin-bottom: 5px; */
  right: 3%;
  margin-top: -15px;
}

/* ================================================================== */

#dm {
  position: absolute;
  top: 1%;
  left: 90%;
  scale: 2;
}

#stories {
  /* position: absolute; */
  height: 17vh;
  width: 70%;
  z-index: 9999;
  /* background-color: cornflowerblue; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 10px;
  padding-bottom: 10px;
  /* background-color: aquamarine; */
}

.add-story {
  position: relative;
  width: 10%;
  height: 5.5vw;
  display: flex;
  /* background-color: crimson; */
  align-items: center;
}

.add-story img {
  width: 5.2vw;
  height: 5.2vw;
  border-radius: 50%;
  border: 2px solid blue;
  padding: 2px;
}

.add-story i {
  position: absolute;
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 7px 7px;
  font-size: 10px;
  top: 60%;
  left: 60%;
  cursor: pointer;
}

.user-stories {
  display: flex;

  align-items: center;
  height: 150px;
  width: fit-content;
  /* background-color: aqua; */
  gap: 10px;
  position: relative;
}

.story {
  display: flex;

  align-items: center;

  flex-direction: column;

  flex-shrink: 0;
  position: relative;

  height: 5.2vw;
  width: 5.2vw;
  cursor: pointer;
  /* background-color: deeppink; */
}

#story-img1 {
  width: 5.2vw;
  height: 5.2vw;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid blue;

  transition: all linear 0.1s;

  scale: 1;
  /* background-color: darkgoldenrod; */
}

/* .big-story -websc */
.big-story {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: calc(100vw- 70px);
  height: 99.8vh;
  /* scroll-behavior: none; */
  /* background-color: black; */
  top: 0;
  z-index: 99;

  color: #fff;

  display: flex;
  gap: 2px;
  /* overflow: auto; */
  scale: 1;
  /* display: none; */
  /* background-color: rgb(23, 151, 9); */
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  scroll-snap-align: 20vw;
}

.story-big {
  width: calc(100vw - 70px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;

  align-items: center;

  flex-shrink: 0;
  position: relative;
  left: 0;
}

#next-story {
  position: absolute;
  left: 98%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 999999; */
  cursor: pointer;
  scale: 3;
}

#p-story {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 999999; */
  cursor: pointer;
  scale: 3;
}

#story-photo {
  max-height: 80vh;
  max-width: 70vw;
}

.story-review {
  display: flex;
  /* flex-direction: column; */

  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  /* bottom: 0%; */
  top: 88vh;
  position: absolute;
  /* bottom: -7%; */
  padding: 10px;
  /* padding-left: 30px;  */
  /* background-color: darksalmon; */
}

.story-review input {
  width: 50%;
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
}

.story-review i {
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.story-detail {
  width: 100%;

  display: flex;

  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0%;

  justify-content: space-between;

  /* background-color: darkviolet; */
}

.story-detail-1 {
  gap: 10px;

  display: -ms-flexbox;
  /* background-color: darkmagenta; */
  display: flex;

  align-items: center;
}

.story-detail-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.story-detail-1 a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

.story-detail-2 {
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;
  position: relative;
}

.delete-story {
  position: absolute;
  padding: 10px 20px;
  background-color: rgb(46, 45, 45);
  left: -295%;
  top: 57%;
  border-radius: 5px;
  scale: 0;

  transition: all linear 0.2s;
}

.delete-story a {
  white-space: nowrap;
  color: #fff;
}

.story-detail-2 i {
  font-size: 40px;
  cursor: pointer;
}

.upload-story {
  /* display: none; */
  position: absolute;
  top: 0;
  width: calc(100vw - 70px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.295);
  /* background-color: #1ddde8; */
  backdrop-filter: blur(5px);
  overflow: hidden;

  transition: all linear 0.2s;
  scale: 0;
  z-index: 9999999999;
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;
}

.upload-story form {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;
  gap: 20px;
}

.upload-story form input,
button {
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  border: 2px solid rgb(68, 115, 255);
  outline: none;
  border-radius: 10px;
}

.upload-story form button {
  background-color: rgb(47, 91, 252);

  color: white;
  border-radius: 30px;
  padding: 10px 40px;
}

.upload-story i {
  position: absolute;
  color: rgb(32, 51, 178);
  font-size: 50px;
  top: 1%;
  right: 3%;
  cursor: pointer;
}






@media (max-width: 650px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1ddde8; */
  }

  #main {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    margin-left: 0px;
    /* background-color: darkgray; */
  }

  .theme-toggle {
    display: none;
  }

  #up-arrow {
    display: none;
  }

  #logoo {
    display: block;
  }

  #logoo img {
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
  }

  #feed-area {
    width: 100vw;
    min-height: 83vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    /* background-color: burlywood; */
  }

  #feed-card {
    position: relative;
    width: 90vw;
    min-height: 20vw;
    /* background-color: #1de840; */
    /* border: 1px solid #000; */
    margin: 5px;
    filter: drop-shadow(0px 0px 20px 2px rgb(189, 13, 13));

    transition: all ease 0.3s;
    /* display: flex; */
  }

  #feed-card img {
    max-height: 100vh;
    width: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 25px 2px black);
  }

  #feed-card video {
    /* max-height: 95vh; */
    width: 100%;
    object-position: center;
    background-color: currentColor;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px 25px black);

    /* filter: drop-shadow(0px 0px 25px 2px black); */
  }

  #nav {
    /* height: 15%; */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* font-weight: 200; */
    /* background-color: cornflowerblue; */
  }

  #nav > a > img {
    border-radius: 50%;
    object-fit: cover;
    height: 12vw;
    width: 12vw;
  }

  #nav a h2 {
    font-weight: 600;
    font-size: 5vw;
  }

  #mini {
    height: 10vw;
    width: 10vw;
    /* zoom: 5; */
    overflow: hidden;
    background-position: center;
    /* background-image: url(../uploads/1701113791404-607074134.jpg); */

    /* object-fit: fill; */
    /* object-fit: contain; */
    object-position: center;

    border-radius: 50%;
    padding: 2px;
    /* border: 1px solid blue; */
  }

  #open-more-options {
    right: 3%;
    top: 0;
    scale: 1;
    margin-top: 15px;
    padding: 2px;
    /* background-color: chocolate; */
    position: absolute;
    cursor: pointer;
  }

  #open-more-options:hover .more-option {
    scale: 1;
  }

  .more-option {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1%;
    background-color: rgba(195, 189, 189, 0.771);
    top: 8%;
    padding: 10px;
    height: 80px;
    z-index: 999999999999;
    scale: 0;
    transition: all linear 0.1s;
  }

  .more-option h4 {
    cursor: grab;
    color: #000;
  }

  #feed-img {
    width: 100%;
  }

  #line1 {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding: 3px 10px;
  }

  #line1 a:nth-child(4) {
    margin-left: 15%;
  }

  #line1 a {
    /* color: #000; */
    text-decoration: none;
    padding: 2px 5px;
    display: flex;
    align-items: end;
    justify-content: center;

    font-size: 7vw;
  }

  #line1 i {
    color: #000;
    text-decoration: none;
    padding: 2px 5px;
    display: flex;
    align-items: end;
    justify-content: center;

    font-size: 7vw;
    cursor: pointer;
  }

  #line2 {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding: 3px 10px;
    /* background-color: coral; */
  }

  #line2 h3 {
    font-size: 4vw;
  }

  #line2 h3:nth-child(2) {
    font-weight: 500;
  }

  .comment {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* margin-top: -10px; */
    /* background-color: chocolate; */
  }

  .comment h4 {
    color: rgba(9, 9, 9, 0.497);
  }

  .comment input {
    width: 50%;
    /* border: none; */
    outline: none;
    padding: 5px 20px;
    display: none;
    border-radius: 10px;
    background-color: #000;
  }

  #nonnn {
    display: none;
  }

  #nonnn:nth-child(1) {
    /* position: relative; */
    position: absolute;
    margin-top: 20px;
    width: fit-content;

    /* top: 90%; */
    bottom: 50px;
    padding: 5px 27px;
    display: block;
  }

  #time-posted {
    width: 150px;
    overflow: hidden;
    height: 15px;
    color: #979797;
    margin-bottom: 50px;
  }

  #stories {
    /* position: absolute; */
    height: 14vh;
    width: 100%;
    z-index: 9999;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 10px;
    padding-bottom: 10px;
    /* background-color: aquamarine; */
  }

  .add-story {
    position: relative;
    width: 10%;
    height: 5.5vw;
    display: flex;
    /* background-color: crimson; */
    align-items: center;
  }

  .add-story img {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    border: 2px solid blue;
    padding: 2px;
  }

  .add-story i {
    position: absolute;
    color: white;
    background-color: blue;
    border-radius: 50%;
    padding: 7px 7px;
    font-size: 10px;
    top: 65%;
    left: 120%;
    cursor: pointer;
  }

  .user-stories {
    display: flex;

    align-items: center;
    height: 100%;
    width: max-content;
    margin-left: 30px;
    /* background-color: aqua; */
    gap: 10px;
    position: relative;
  }

  .story {
    display: flex;

    align-items: center;

    flex-direction: column;

    flex-shrink: 0;
    position: relative;

    height: 17vw;
    width: 17vw;
    cursor: pointer;
    /* background-color: deeppink; */
  }

  #story-img1 {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid blue;

    transition: all linear 0.1s;

    scale: 1;
    /* background-color: darkgoldenrod; */
  }
  #sugges {
    display: none;
  }
}

/* --------------------------------------------------------------------- */
