*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
}
html,body{
    height: 100%;
    width: 100%;
    
}

::-webkit-scrollbar{
  display: none;
}



/* ----------------------------------------------- */

#main{
    position: relative;
    min-height: 100vh;
    display: flex;
    width: calc(100vw-70px);
    margin-left: 70px;
    /* background-color: darkgray; */
}

#feed{
    width: 65vw;
    height: 100vh;
    overflow: auto;
    padding: 20px 10px;
    /* background-color: #1877F2; */
}

#search{
  width: 33vw;
  height: 100vh;
  overflow: auto;
  /* background-color: coral; */
  background-color: white;
  /* position: absolute; */
  /* left: px; */
  /* left: -39vw; */
  /* scale: 0; */
  transition: all ease 0.3s;

  z-index: 9999999999;
  padding: 20px 30px;
  border-right: 1px solid #000;

}
#search>h1{
  margin-bottom: 20px;
}
#search-user{
  width: 100%;
  background-color: #d2cfcf48;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
#close-search-icon{
  margin-left: -38px;
  position: absolute;
  margin-top: 5px;
  font-size: 25px;
  cursor: pointer;
 
}
.user-card2{
  display: flex;
  align-items: center;
  /* justify-content: ; */
  height: fit-content;
  width: 100%;
  background-color: #d2cfcf48;
  margin-top: 2px;
  border-radius: 7px;
  padding: 10px 5px;
  position: relative;
}
.user-card2 a{
  text-decoration: none;
  color: #fff;
  background-color: #1877F2;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  right: 10%;

}
.user-card2 a h2{
  font-size: 15px;
}
.user-card2 img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  /* border: 1px solid blue ; */
  /* padding: 2px; */

}


#various-suggestions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    overflow: auto;
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    }
    
    .suggestion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 5px 10px;
    background-color: rgb(157, 161, 157);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    }
    
    .suggestion h1{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 450;
    }
    
    ::-webkit-scrollbar{
    display: none;
    }
    
    .suggestion i{
    position: relative;
    font-size: 25px;
    /* transform: rotateX(180deg); */
    }
    
    .suggestion:nth-child(1){
    background-color:   #1877F2;
    color: black;
    }
    
    .users{
    width: 100%;
    height: 0px;
    /* margin-top: 10px; */
    /* background-color: rgb(47, 49, 49); */
    overflow: hidden;
    position: relative;
    overflow: hidden;
    }
    
    .all-users{
        /* background-color: #1877F2; */
    width: 100%;
    position: absolute;
    left: 100%;
    /* height: 170px; */
    height:max-content;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            align-items: center;
    gap: 10px;
    overflow: auto;
    padding: 10px; 
    padding-left: 20px;
    /* background-color: antiquewhite; */
    }
    .user-card{
        display: flex;
        align-items: center;
        /* justify-content: ; */
        height: fit-content;
        width: 100%;
        background-color: #d2cfcf48;
        margin-top: 2px;
        border-radius: 7px;
        padding: 10px 5px;
        position: relative;
        flex-shrink: 0;
    }
    .user-card img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid blue ;
        padding: 2px;
    }
    .user-card a{
        text-decoration: none;
        color: #fff;
        background-color: #1877F2;
        padding: 5px 10px;
        border-radius: 20px;
        position: absolute;
        font-size: 10px;
        right: 3%;

        
    }


    
    .trending{
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    }
    
    .popular-hashtags{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    position: absolute;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    }
    
    .places{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    position: absolute;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    }
    
    #same-h1{
    /* flex-shrink: 0; */
    font-size: 27px;
    font-family: gilroy;
    background-color: #dedede;
    padding: 5px 20px;
    border-radius: 15px;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
    }
    
    
    
    #posts{
    width: 100%;
    height:max-content;
    /* background-color: burlywood; */
    margin-top: 10px;
    /* margin-top: 230px; */
    display: flex;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    }
    
    .post{
    width: 19vw;
    height: 19vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
     flex-shrink: 0;

    }
    .post>a{
    width: 19vw;
    height: 19vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
     flex-shrink: 0;

    }
    
    .post img{
    width: 100%;
    height: 100%;
    }
    
    
  #feed-video{
      max-height: 19vw;
      
      object-position: center;
      object-fit: contain;
  }
  #feed-image{
      /* max-height: 95vh; */
      width: 19vw;
      object-position: center;
      background-color:currentColor;
      object-fit: contain;
  }









  @media (max-width:500px) {

    
#main{
  position: relative;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  margin-left: 0px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: darkgray; */
}

#feed{
  position: relative;
  width: 100vw;
  height: fit-content;
  overflow: auto;
  padding: 5px 10px;
  /* background-color: #1877F2; */
  margin-bottom: 50px;
}

#search{
width: 100vw;
height: max-content;
overflow: auto;
position: relative;
top: 0;
left: 0;
/* background-color: coral; */
/* background-color: rgb(129, 12, 12); */
/* position: absolute; */
/* left: px; */
/* left: -39vw; */
/* scale: 0; */
transition: all ease 0.3s;

z-index: 9999999999;
padding: 10px 20px;
border-right: 1px solid #000;

}

#search-user{
width: 100%;
background-color: #d2cfcf48;
padding: 5px 10px;
font-size: 15px;
border-radius: 15px;
border: none;
outline: none;
margin-bottom: 10px;

}
#close-search-icon{
margin-left: -38px;
position: absolute;
margin-top: 5px;
font-size: 25px;
cursor: pointer;

}

#user-area{
  height: fit-content;
}
.user-card2{
display: flex;
align-items: center;
/* justify-content: ; */
height: fit-content;
width: 100%;
background-color: #d2cfcf48;
margin-top: 2px;
border-radius: 7px;
padding: 10px 5px;
position: relative;
}
.user-card2 h3{
  font-size: 15px;
}
.user-card2 a{
text-decoration: none;
color: #fff;
background-color: #1877F2;
padding: 5px 10px;
border-radius: 20px;
position: absolute;
right: 10%;

}
.user-card2 a h4{
font-size: 10px;
}
.user-card2>img{
height: 40px;
width: 40px;
border-radius: 50%;
margin-right: 10px;
/* border: 1px solid blue ; */
/* padding: 2px; */

}


#various-suggestions{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  overflow: auto;
  width: 100%;
  padding: 10px;
  margin-top: -10px;
  }
  
  .suggestion{
  display: flex;
          align-items: center;
  gap: 5px;
      flex-shrink: 0;
  padding: 4-px 6px;
  background-color: rgb(157, 161, 157);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  }
  
  .suggestion h1{
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  }
  
  ::-webkit-scrollbar{
  display: none;
  }
  
  .suggestion i{
  position: relative;
  font-size: 15px;
  /* transform: rotateX(180deg); */
  }
  
  .suggestion:nth-child(1){
  background-color:   #1877F2;
  color: black;
  }
  
  .users{
  width: 100%;
  height: 0px;
  /* margin-top: 10px; */
  /* background-color: rgb(47, 49, 49); */
  overflow: hidden;
  position: relative;
  overflow: hidden;
  }
  
  .all-users{
      /* background-color: #1877F2; */
  width: 100%;
  position: absolute;
  /* left: 100%; */
  /* height: 170px; */
  height:max-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
          align-items: center;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px; 
  /* padding-left: 20px; */
  /* background-color: antiquewhite; */
  }
  .user-card{
      display: flex;
      align-items: center;
      /* justify-content: ; */
      height: fit-content;
      width: 90%;
      background-color: #d2cfcf48;
      margin-top: 2px;
      border-radius: 7px;
      padding: 5px 5px;
      position: relative;
      flex-shrink: 0;
      font-size: 12px;
  }
  .user-card img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid blue ;
      padding: 2px;
  }
  .user-card a{
      text-decoration: none;
      color: #fff;
      background-color: #1877F2;
      padding: 5px 10px;
      border-radius: 20px;
      position: absolute;
      font-size: 8px;
      right: 3%;

      
  }


  
  .trending{
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  }
  
  .popular-hashtags{
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  position: absolute;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  }
  
  .places{
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  position: absolute;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  }
  
  #same-h1{
  /* flex-shrink: 0; */
  font-size: 12px;
  font-family: gilroy;
  background-color: #dedede;
  padding: 5px 20px;
  border-radius: 15px;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0;
  }
  
  
  
  #posts{
  width: 100%;
  height:max-content;
  /* background-color: burlywood; */
  margin-top: 10px;
  /* margin-top: 230px; */
  display: flex;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw,1fr));
  flex-wrap: wrap;
  padding-left:   0px;
  padding-right: 0px;
  overflow: auto;
  position: relative;
  }
  
  .post{
  position: relative;
  width: 30vw;
  height: 34vw;
  /* background-color: aqua; */
  
   /* flex-shrink: 0; */
   overflow: hidden;

  }
  
  #feed-video {
    min-height: 34vw;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
 

#feed-image{
    max-height: 95vh;
    width: 19vw;
    object-position: center;
    background-color:currentColor;
    object-fit: contain;
}









  }